@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(1, 1, 67);
  background: linear-gradient(
    115deg,
    rgba(1, 1, 67, 1) 0%,
    rgba(3, 57, 108, 0.9484536082474226) 100%
  );
  letter-spacing: 1px;
}
